version: '3.8'

services:
  db:
    image: postgres:15
    container_name: notes_postgres
    environment:
      POSTGRES_DB: notes_db
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: